* {
  margin:0;
  padding:0;
}

html {
  font-size: 15px;
  font-family: 'Avenir Next', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
.explain
{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.readable-hidden {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width:960px;
  margin: 0 auto;
}
.header {
  height: 80px;
  line-height: 80px;

}

.header::after {
  content: '';
  display: block;
  clear: both;
}

.brand {
  float: left;
  font-size: 24px;
  position: fixed;
  color : yellow;
}

nav {
  float: right;
}

.gnb {
  list-style-type: none;
}

ul.gnb > li {
  float: left;
  margin-left: 15px;
}

ul.gnb > li > a {
  text-decoration: none;
  color: #181818;
}

/* landing */

.landing {
  height: 600px;
  background-image: url("background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.landing-title, .landing-para{
  margin-bottom: 21px;
  text-align: center;
}

.landing-title {
  width: 760px;
  font-size: 60px;
  line-height: 68px;

}

.landing-para {
  width: 560px;
  font-size: 20px;
  line-height: 28px;

}

.btn-landing {
  display: inline-block;
  padding: 21px 51.5px;
  border-radius: 1000px;
  background-image: linear-gradient(
                  to bottom, #f06b3b, #ff4b1f);
  background-size: 100px 100px;
}



/*blog*/

.blog {
  padding: 100px 0;
}

.blog::after {
  content: '';
  display: block;
  clear: both;
}

.blog article {
  float: left;
  width: 300px;
  height: 200px;
  margin-right: 30px;
}
.blog article:last-child {
  margin-right: 0;
}

.blog article img {
  width: 100%;
  height: 100%;
}

.blog article p {
  margin-top: 20px;
}

.footer {
  text-align: center;
  color: #fff;
  padding: 50px;
  background-color: #000;
}